.heading {
     position: absolute;
     top: 5%;
     left: 5%;
     padding: 7rem 7rem;

     @include respond(phone) {
          padding: 1rem;
     }

     &__primary {
          font-size: 10rem;
          color: $text-color;
          white-space: nowrap;
          margin: 0 auto;
          letter-spacing: 0.15rem;

          @include respond(phone) {
               font-size: 7rem;
          }

          &--first {
               overflow: hidden;
               border-right: 3px solid $color-primary;

               animation: animated-text__1 .3s steps(80, end) .2s 1 normal both,
                    animated-cursor 300ms steps(30, end) 3;
          }

          &--second {
               overflow: hidden;
               border-right: 3px solid $color-primary;
               animation: animated-text__2-desktop .2s steps(50, end) 1 normal
                         both,
                    animated-cursor 200ms steps(30, end) 2;
               animation-delay: 700ms;

               @include respond(phone) {
                    animation: animated-text__2-phone 3s steps(80, end) 1 normal
                              both,
                         animated-cursor 500ms steps(30, end) 3;
                    animation-delay: 500s;
               }
          }
     }

     &__secondary {
          padding: 2rem 0;
          font-size: 2.2rem;
          font-family: "Merriweather", sans-serif;
          color: $text-color;
          letter-spacing: 0.15rem;
          white-space: nowrap;
          margin: 0 auto;
          position: relative;

          @include respond(phone) {
               padding: 4rem 0;
          }

          p {
               padding: 0.8rem 0;
          }

          &--first {
               overflow: hidden;

               border-right: 2px solid $color-primary;
               animation: animated-text__3 .7s steps(60, end) 1s 1 normal both,
                    animated-cursor 900ms steps(30, end) 1;
               animation-delay: 1.2s;
          }

          &--second {
               overflow: hidden;

               border-right: 2px solid $color-primary;
               animation: animated-text__4 .7s steps(60, end) 1s 1 normal both,
                    animated-cursor 900ms steps(30, end) 1.1;
               animation-delay: 1.4s;
          }

          &--third {
               overflow: hidden;

               border-right: 2px solid $color-primary;
               animation: animated-text__5 .7s steps(60, end) 1s 1 normal both,
                    animated-cursor 900ms steps(30, end) 1.2;
               animation-delay: 1.6s;
          }

          &--fourth {
               overflow: hidden;

               border-right: 2px solid $color-primary;
               animation: animated-text__6 .7s steps(60, end) 1s 1 normal both,
                    animated-cursor 900ms steps(30, end) infinite;
               animation-delay: 1.8s;
          }

          &--fourth--text {
               color: $color-secondary;
          }

          &--arrow-down {
               a,
               a:link,
               a:active {
                    text-align: center;
                    text-decoration: none;
                    margin-top: 1rem;
                    background-color: rgba(255, 255, 255, 0.1);
                    font-size: 6rem;
                    color: $color-secondary;
                    height: 7rem;
                    width: 7rem;
                    position: absolute;
                    opacity: 0;
                    left: 42%;
                    border: 1px solid $color-secondary;
                    border-radius: 50%;
                    transition: background-color ease-in-out 0.4s;
                    animation: moveup 1.6s ease-in-out forwards;
                    animation-delay: 1.5s;

                    @include respond(phone) {
                         font-size: 7rem;
                         height: 9rem;
                         width: 9rem;
                    }
               }

               a:hover {
                    background-color: $color-primary;
               }
          }
     }
}
